@import "owl.carousel.css";
@import "owl.theme.default.css";
@import "bootstrap.css";
@import url(https://fonts.googleapis.com);
@import url(https://fonts.gstatic.com);
@import url(https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap);
@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");
@font-face {
  font-family: "interregular";
  src: url("../fonts/inter-regular-webfont.eot");
  src: url("../fonts/inter-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-regular-webfont.woff2") format("woff2"), url("../fonts/inter-regular-webfont.woff") format("woff"), url("../fonts/inter-regular-webfont.ttf") format("truetype"), url("../fonts/inter-regular-webfont.svg#interregular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
a {
  display: inline-block;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

h1, h2 {
  font-family: "Readex Pro", sans-serif;
  font-size: 58px;
  line-height: 70px;
  color: #000000;
}
@media screen and (max-width: 1024px) {
  h1, h2 {
    font-size: 43.5px;
    line-height: 52.5px;
  }
}
@media screen and (max-width: 768px) {
  h1, h2 {
    font-size: 29px;
    line-height: 35px;
    text-align: center;
  }
}

h3 {
  font-family: "Readex Pro", sans-serif;
  font-size: 42px;
  line-height: 52px;
  color: #000000;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  h3 {
    font-size: 33.6px;
    line-height: 43.2px;
  }
}
@media screen and (max-width: 768px) {
  h3 {
    font-size: 29.4px;
    line-height: 36.4px;
  }
}

@media (min-width: 992px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1324px;
  }
}
@media (min-width: 992px) {
  .justify-content-end-lg {
    justify-content: end !important;
  }
  .fixed-top {
    position: relative;
  }
}
header nav {
  min-height: 80px;
}

header .navbar {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (max-width: 992px) {
  .dineuron-menu {
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
  }
}

.nav-open .dineuron-menu {
  opacity: 1;
  visibility: visible;
  background: rgba(255, 255, 255, 0.92);
}

.dineuron-menu .nav li a {
  color: #000000;
}

@media screen and (max-width: 992px) {
  .dineuron-menu .nav li {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
    -webkit-animation-timing-function: cubic-bezier(0.45, 0.005, 0, 1);
    -moz-animation-timing-function: cubic-bezier(0.45, 0.005, 0, 1);
    -o-animation-timing-function: cubic-bezier(0.45, 0.005, 0, 1);
    animation-timing-function: cubic-bezier(0.45, 0.005, 0, 1);
  }
}

.nav-open .dineuron-menu .nav li {
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s;
}

.dineuron-menu .nav li.delay-1 {
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -ms-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.dineuron-menu .nav li.delay-2 {
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -ms-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.dineuron-menu .nav li.delay-3 {
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -ms-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.dineuron-menu .nav li.delay-4 {
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  -ms-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.dineuron-menu .nav li.delay-5 {
  -webkit-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  -ms-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.dineuron-menu .nav li.delay-6 {
  -webkit-transition-delay: 0.6s;
  -moz-transition-delay: 0.6s;
  -ms-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

.dineuron-menu .nav li.delay-7 {
  -webkit-transition-delay: 0.7s;
  -moz-transition-delay: 0.7s;
  -ms-transition-delay: 0.7s;
  -o-transition-delay: 0.7s;
  transition-delay: 0.7s;
}

.dineuron-menu .nav li.delay-8 {
  -webkit-transition-delay: 0.8s;
  -moz-transition-delay: 0.8s;
  -ms-transition-delay: 0.8s;
  -o-transition-delay: 0.8s;
  transition-delay: 0.8s;
}

.dineuron-menu .nav li.delay-9 {
  -webkit-transition-delay: 0.9s;
  -moz-transition-delay: 0.9s;
  -ms-transition-delay: 0.9s;
  -o-transition-delay: 0.9s;
  transition-delay: 0.9s;
}

.nav-button {
  position: relative;
  z-index: 1111;
  border: solid 1px #000000;
  height: 33px;
  display: block;
  width: 36px;
  padding: 8px 5px;
  border-radius: 7px;
  order: 1;
}

.nav-button #nav-icon3 {
  width: 24px;
  height: 22px;
  display: inline-block;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.nav-button #nav-icon3 span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #000000;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.nav-button #nav-icon3 span:nth-child(1) {
  top: 0;
}

.nav-button #nav-icon3 span:nth-child(2), #nav-icon3 span:nth-child(3) {
  top: 7px;
}

.nav-button #nav-icon3 span:nth-child(4) {
  top: 14px;
}

.nav-open #nav-icon3 span:nth-child(1) {
  top: 9px;
  width: 0;
  left: 50%;
}

.nav-open #nav-icon3 span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav-open #nav-icon3 span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.nav-open #nav-icon3 span:nth-child(4) {
  top: 9px;
  width: 0;
  left: 50%;
}

.flex-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

.search_button.navbar-nav {
  flex-direction: row;
}

header .nav-item .nav-link {
  font-family: "interregular";
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #000000;
}

.dropdown-menu a {
  font-family: "interregular";
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #000000;
}

.nav-open .dineuron-menu {
  align-items: flex-start;
  padding-top: 80px;
}
@media screen and (max-width: 992px) {
  .nav-open .dineuron-menu {
    text-align: center;
  }
}

.search-box {
  border: solid 2px black;
  display: inline-block;
  position: relative;
  border-radius: 50px;
  padding: 0 3px;
  line-height: 14px;
}
.search-box label {
  display: none;
}
.search-box input[type=text] {
  font-family: "interregular";
  font-size: 14px;
  width: 10px;
  height: 14px;
  padding: 0;
  border: none;
  box-sizing: border-box;
  border-radius: 50px;
  text-indent: 10px;
  transition: width 800ms cubic-bezier(0.68, -0.55, 0.27, 1.55) 150ms;
}
.search-box input[type=text]:focus {
  outline: none;
}
.search-box input[type=text]:focus, .search-box input[type=text]:not(:placeholder-shown) {
  width: 200px;
  height: 30px;
  transition: width 800ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.search-box input[type=text]:focus + button[type=reset], .search-box input[type=text]:not(:placeholder-shown) + button[type=reset] {
  bottom: 8px;
  right: 10px;
  transition: bottom 150ms ease-out 800ms, right 150ms ease-out 800ms;
}
.search-box input[type=text]:focus + button[type=reset]:after, .search-box input[type=text]:not(:placeholder-shown) + button[type=reset]:after {
  top: 3px;
  right: 7px;
  opacity: 1;
  height: 12px;
  transition: top 150ms ease-out 950ms, right 150ms ease-out 950ms, opacity 150ms ease 950ms;
}
.search-box button[type=reset] {
  background-color: transparent;
  width: 16px;
  height: 16px;
  border: 0;
  padding: 0;
  outline: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -9px;
  right: -9px;
  transition: bottom 150ms ease-out 150ms, right 150ms ease-out 150ms;
}
.search-box button[type=reset]:before, .search-box button[type=reset]:after {
  content: "";
  height: 8px;
  border: solid 1px black;
  position: absolute;
  border-radius: 3px;
  background-color: black;
  transform: rotate(-45deg);
}
.search-box button[type=reset]:after {
  transform: rotate(45deg);
  opacity: 0;
  top: -10px;
  right: -10px;
  transition: top 150ms ease-out, right 150ms ease-out, opacity 150ms ease-out;
}

.search-box input[type=text]:focus + button[type=reset], .search-box input[type=text]:not(:placeholder-shown) + button[type=reset] {
  bottom: 8px;
  right: 12px;
  transition: bottom 150ms ease-out 800ms, right 150ms ease-out 800ms;
}

.search-box input[type=text]:focus + button:before {
  height: 12px;
  top: 3px;
}

.search-box input[type=text]:not(:placeholder-shown) + .search-box button[type=reset]:before {
  height: 12px;
  top: 3px;
}

@media screen and (max-width: 992px) {
  header nav div ul {
    max-width: 250px;
    width: 100%;
  }
  header nav div ul li {
    min-height: 50px;
  }
}

.dropdown .dropdown-toggle:after {
  border: none;
  background-image: url("../images/drop_down.svg");
  height: 8px;
  width: 12px;
}

.dropdown.show .dropdown-toggle:after {
  transform: rotate(180deg);
}

.main_section {
  padding: 28px 0;
}

.main_box .main_box_item {
  min-height: 550px;
  border-radius: 32px;
}
.main_box .main_box_item .content_box {
  padding: 18px 3px 0 56px;
}
@media screen and (max-width: 992px) {
  .main_box .main_box_item .content_box {
    padding: 25px 35px 0 35px;
  }
}
@media screen and (max-width: 376px) {
  .main_box .main_box_item .content_box {
    padding: 25px 20px 0 20px;
  }
}
.main_box .main_box_item .content_box h1, .main_box .main_box_item .content_box h2 {
  margin-bottom: 19px;
}
.main_box .main_box_item .content_box p {
  font-family: "interregular";
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-right: 26px;
  margin-bottom: 30px;
}
@media screen and (max-width: 1024px) {
  .main_box .main_box_item .content_box p {
    font-size: 13.6px;
    line-height: 16.15px;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
.main_box .main_box_item .content_box button {
  max-width: 170px;
  width: 100%;
  min-height: 50px;
}
@media screen and (max-width: 992px) {
  .main_box .main_box_item .content_box button {
    min-height: 35px;
  }
}
.main_box .main_box_item .img_content img {
  width: 100%;
  height: auto;
}
.main_box .item_1 {
  background-color: #DCE5E2;
}
.main_box .item_2 {
  background-color: #F5F5F5;
}
.main_box .item_3 {
  background-color: #dce5ec;
}
.main_box .item_3 .img_content img {
  height: 70%;
  width: auto;
}

.owl-nav .owl-prev {
  position: absolute;
  left: 19px;
  top: calc(50% - 13px);
}
@media screen and (max-width: 756px) {
  .owl-nav .owl-prev {
    left: 0;
  }
}
.owl-nav .owl-prev:before {
  content: "";
  display: block;
  background-image: url("../images/left_chevron.svg");
  width: 14px;
  height: 26px;
}
.owl-nav .owl-next {
  position: absolute;
  right: 19px;
  top: calc(50% - 13px);
}
@media screen and (max-width: 756px) {
  .owl-nav .owl-next {
    right: 0;
  }
}
.owl-nav .owl-next:before {
  content: "";
  display: block;
  background-image: url("../images/right_chevron.svg");
  width: 14px;
  height: 26px;
}

.owl-dots {
  position: absolute;
  bottom: 34px;
  display: flex;
  width: 100%;
  justify-content: center;
}
@media screen and (max-width: 1025px) {
  .owl-dots {
    bottom: 10px;
  }
}
.owl-dots span {
  display: inline-block;
  max-width: 194px;
  width: 100%;
  height: 2px;
  opacity: 0.5;
  background: #000000;
  transform: scale(0.9);
}

.owl-carousel button.owl-dot {
  width: 194px;
  margin-right: 17px;
  margin-left: 17px;
}

.owl-dots button.owl-dot.active span {
  opacity: 1;
  transform: scale(1.05);
  transition: 0.3s;
}

.latest_offers {
  padding: 47px 0 28px;
}
.latest_offers .headline {
  max-width: 780px;
  margin: 0 auto 9px;
}
.latest_offers .latest_offers__desc {
  max-width: 628px;
  margin: 0 auto 55px;
  font-family: "Readex Pro", sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .latest_offers .latest_offers__desc {
    font-size: 11.9px;
    line-height: 14.45px;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
.latest_offers article {
  box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.25);
  transition: 0.3s;
}
.latest_offers article:hover {
  transform: translateY(22px);
}
.latest_offers article p {
  font-family: "interregular";
  font-size: 15px;
  line-height: 19px;
  color: #000000;
}
@media screen and (max-width: 1024px) {
  .latest_offers article p {
    font-size: 10.5px;
    line-height: 13.3px;
  }
}
.latest_offers article h4 {
  font-family: "Readex Pro", sans-serif;
  font-size: 32px;
  line-height: 38px;
  color: #000000;
}
@media screen and (max-width: 1024px) {
  .latest_offers article h4 {
    font-size: 25.6px;
    line-height: 30.4px;
  }
}
@media screen and (max-width: 768px) {
  .latest_offers article h4 {
    font-size: 22.4px;
    line-height: 26.6px;
  }
}
.latest_offers article img {
  width: 100%;
  height: 100%;
}
.latest_offers .laptop {
  padding: 0 42px;
  margin-bottom: 22px;
}
@media screen and (max-width: 992px) {
  .latest_offers .laptop {
    margin-bottom: 0.5rem;
    padding: 0 15px;
  }
}
.latest_offers .watch {
  padding: 0 42px;
}
@media screen and (max-width: 992px) {
  .latest_offers .watch {
    padding: 0 15px;
  }
}
.latest_offers .phones a, .latest_offers .tablet a {
  margin-bottom: 41px;
}
@media screen and (max-width: 992px) {
  .latest_offers .phones a, .latest_offers .tablet a {
    margin-bottom: 16px;
  }
}

.most_selled {
  padding: 72px 0 27px;
}

/*# sourceMappingURL=style.css.map */
